In [1]:
# import pandas
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# LOAD DATASETS
"""
to read excel files ==> pd.read_excel("filename.xlsx")
to read csv files ==> pd.read_csv("filename.csv")
to read json files ==> pd.read_json("filename.json")
to read pickle files ==> pd.read_pickle("filename.pkl")

"""

'\nto read excel files ==> pd.read_excel("filename.xlsx")\nto read csv files ==> pd.read_csv("filename.csv")\nto read json files ==> pd.read_json("filename.json")\nto read pickle files ==> pd.read_pickle("filename.pkl")\n\n'

In [3]:
pd.read_excel("sample superstore.xlsx", header=1)

,Unnamed: 0,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
0,NaN,88525,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,2,1.320000,2,5.9
1,NaN,88522,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,1,4.560000,4,13.01
2,NaN,88523,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-47.640000,7,49.92
3,NaN,88523,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-30.510000,7,41.64
4,NaN,88523,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,0,998.202300,8,1446.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9428,NaN,87532,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,1,137.860000,13,447.87
9429,NaN,87532,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,0,-39.070000,3,13.23
9430,NaN,87533,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,2,-1225.029097,4,2215.93
9431,NaN,87530,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,3,349.485000,5,506.5
9432,NaN,87533,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,2,78.062400,23,172.48

In [4]:
data = pd.read_excel("sample superstore.xlsx", header=1)

In [16]:
type(data)

pandas.core.frame.DataFrame

In [17]:
# get first five rows
data.head(2)

,Unnamed: 0,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
0,NaN,88525,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,2,1.32,2,5.9
1,NaN,88522,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,1,4.56,4,13.01

In [18]:
#get last row
data.tail(5)

,Unnamed: 0,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
9428,NaN,87532,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,1,137.860000,13,447.87
9429,NaN,87532,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,0,-39.070000,3,13.23
9430,NaN,87533,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,2,-1225.029097,4,2215.93
9431,NaN,87530,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,3,349.485000,5,506.5
9432,NaN,87533,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,2,78.062400,23,172.48

In [8]:
#return a random row
data.sample(4)

,Unnamed: 0,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
4312,NaN,87616,High,0.05,3.69,2.50,1623,Patrick Adcock,Regular Air,Small Business,...,Central,Indiana,Schererville,46375,2013-12-13,2013-12-15,2,-2.76864,7,27.11
7962,NaN,86927,Critical,0.00,22.84,16.92,2896,Anna Ellis,Regular Air,Home Office,...,Central,Minnesota,Mankato,56001,2010-09-12,2010-09-14,2,-83.75000,15,370.62
1277,NaN,88908,Not Specified,0.02,9.06,9.86,494,Jimmy Alston Holder,Regular Air,Consumer,...,West,Washington,Seattle,98115,2010-12-20,2010-12-22,2,-31.75500,6,59.95
5868,NaN,91104,Critical,0.05,65.99,2.50,2148,Jesse Farrell,Regular Air,Home Office,...,South,Kentucky,Louisville,40214,2012-08-11,2012-08-13,2,-233.88400,10,554.18

In [9]:
#to check the total number of rows and colums
data.shape

(9433, 25)

In [10]:
#To check our data info  
data.info

<bound method DataFrame.info of       Unnamed: 0  Order ID Order Priority  Discount  Unit Price  \
0            NaN     88525  Not Specified      0.01        2.88
1            NaN     88522           High      0.01        2.84
2            NaN     88523  Not Specified      0.03        6.68
3            NaN     88523  Not Specified      0.01        5.68
4            NaN     88523  Not Specified      0.00      205.99
...          ...       ...            ...       ...         ...
9428         NaN     87532       Critical      0.06       35.89
9429         NaN     87532       Critical      0.00        3.34
9430         NaN     87533  Not Specified      0.08      550.98
9431         NaN     87530           High      0.10      105.98
9432         NaN     87533  Not Specified      0.09        7.78

      Shipping Cost  Customer ID    Customer Name       Ship Mode  \
0              0.50            2  Janice Fletcher     Regular Air
1              0.93            3    Bonnie Potter     Express Air
2              6.15            3    Bonnie Potter     Express Air
3              3.60            3    Bonnie Potter     Regular Air
4              2.50            3    Bonnie Potter     Express Air
...             ...          ...              ...             ...
9428          14.72         3402   Frederick Cole     Regular Air
9429           7.49         3402   Frederick Cole     Regular Air
9430          45.70         3402   Frederick Cole  Delivery Truck
9431          13.99         3403    Tammy Buckley     Express Air
9432           2.50         3403    Tammy Buckley     Express Air

     Customer Segment  ...   Region State or Province        City Postal Code  \
0           Corporate  ...  Central          Illinois     Addison       60101
1           Corporate  ...     West        Washington   Anacortes       98221
2           Corporate  ...     West        Washington   Anacortes       98221
3           Corporate  ...     West        Washington   Anacortes       98221
4           Corporate  ...     West        Washington   Anacortes       98221
...               ...  ...      ...               ...         ...         ...
9428         Consumer  ...     East     West Virginia  Charleston       25314
9429         Consumer  ...     East     West Virginia  Charleston       25314
9430         Consumer  ...     East     West Virginia  Charleston       25314
9431         Consumer  ...     West           Wyoming    Cheyenne       82001
9432         Consumer  ...     West           Wyoming    Cheyenne       82001

      Order Date  Ship Date Shipping Days       Profit  Quantity ordered new  \
0     2012-05-28 2012-05-30             2     1.320000                     2
1     2010-07-07 2010-07-08             1     4.560000                     4
2     2011-07-27 2011-07-28             1   -47.640000                     7
3     2011-07-27 2011-07-28             1   -30.510000                     7
4     2011-07-27 2011-07-27             0   998.202300                     8
...          ...        ...           ...          ...                   ...
9428  2013-05-14 2013-05-15             1   137.860000                    13
9429  2013-05-14 2013-05-14             0   -39.070000                     3
9430  2013-09-12 2013-09-14             2 -1225.029097                     4
9431  2010-02-08 2010-02-11             3   349.485000                     5
9432  2013-09-12 2013-09-14             2    78.062400                    23

        Sales
0         5.9
1       13.01
2       49.92
3       41.64
4     1446.67
...       ...
9428   447.87
9429    13.23
9430  2215.93
9431    506.5
9432   172.48

[9433 rows x 25 columns]>

In [11]:
# Check for null values
data.isnull().sum()

Unnamed: 0              9433
Order ID                   0
Order Priority             6
Discount                   4
Unit Price                 4
Shipping Cost              0
Customer ID                0
Customer Name              0
Ship Mode                  0
Customer Segment           8
Product Category           0
Product Sub-Category       0
Product Container          0
Product Name               0
Product Base Margin       72
Region                     0
State or Province          0
City                       0
Postal Code                0
Order Date                 0
Ship Date                  0
Shipping Days              0
Profit                     0
Quantity ordered new       0
Sales                      4
dtype: int64

In [12]:
# sum of duplicate values
data.duplicated().sum()

7

In [14]:
# total sales by order priority
SalesByPriority = data.groupby("Order Priority")["Sales"],sum()
salesByPriority

TypeError: sum() takes at least 1 positional argument (0 given)